Package: com.iosre.iosrehookertweak
Name: iOSREHookerTweak
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: mowangchen
Author: mowangchen
Section: Tweaks
