@charset "UTF-8";
/*css 初始化 */
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img {
    margin: 0;
    padding: 0;
}

fieldset, img, input, button { 			/*fieldset组合表单中的相关元素*/
    border: none;
    padding: 0;
    margin: 0;
    outline-style: none;
}

ul, ol {
    list-style: none;				/*清除列表风格*/
}

input {
    padding-top: 0;
    padding-bottom: 0;
    font-family: "SimSun", "宋体";
}

select, input {
    vertical-align: middle;
}

select, input, textarea {
    font-size: 12px;
    margin: 0;
}

textarea {
    resize: none;
}

/*防止多行文本框拖动*/
img {
    border: 0;
    vertical-align: middle;
}

/*  去掉图片低测默认的3像素空白缝隙*/
table {
    border-collapse: collapse;			/*合并外边线*/
}


body {
    font: 12px/150% Arial, Verdana, "\5b8b\4f53";	/*宋体，Unicode，统一码*/
    color: #666;
    background: #fff
}

.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1; /*IE/7/6*/
}

a {
    color: #666;
    text-decoration: none;
}

a:hover {
    color: #C81623;
}

h1, h2, h3, h4, h5, h6 {
    text-decoration: none;
    font-weight: normal;
    font-size: 100%;
}

s, i, em {				
    font-style: normal;
    text-decoration: none;
}

.col-red {
    color: #C81623 !important;
}

/*公共类*/
.w {
    /*版心 提取 */
    width: 1210px;
    margin: 0 auto;
}

.fl {
    float: left
}

.fr {
    float: right
}

.al {
    text-align: left
}

.ac {
    text-align: center
}

.ar {
    text-align: right
}

.hide {
    display: none
}


    /*site-nav部分 start*/
    .site-nav {
        height: 30px;
        line-height: 30px;
        background: #f1f1f1;
    }
    .site-nav-send,
    .site-nav-r .fore {
        position: relative;
        padding: 0 25px 0 10px;
    }
    .site-nav-send:hover {
        background: #ffffff;
    }
    .site-nav-send i,
    .fore i{
        position: absolute;
        top: 10px;
        right: 8px;
        width: 15px;
        height: 7px;
        font-size: 13px;
        line-height: 15px;
        overflow: hidden;
    }
    .site-nav-r li {
        float: left;
        padding: 0 10px;
    }
    .site-nav-r .line {
        width: 1px;
        height: 12px;
        background: #dddddd;
        padding: 0px;
        margin-top: 9px;

    }
    .site-nav-r .jd-tel {
        padding-left: 27px;
    }
    .jd-tel span {
        position: absolute;
        width: 15px;
        height: 20px;
        top: 5px;
        left: 6px;
        background: url("../images/tel.png") no-repeat;
    }
    /*site-nav部分 end*/

    /*top-banner部分 start*/
    .top-banner {
        background: #41c6fa;
    }
    .tb {
        position: relative;
    }
    .close-banner {
        position: absolute;
        width: 19px;
        height:19px;
        top: 5px;
        right: 0px;
        background: url("../images/close-banner.png") no-repeat;
    }
    .close-banner:hover {
        background-position: bottom;
    }
    /*top-banner部分 end*/

    /*search部分 start*/
    .search-logo {
        width: 362px;
        height: 100px;
        background-color: pink;
    }
    .search-input {
        float: left;
        width: 538px;
        height: 61px;
        background-color: blue;
    }
    .search-car {
        float: left;
        width: 139px;
        height: 34px;
        margin: 25px 65px 0 0;
        border: 1px solid #dddddd;
        background-color: #f9f9f9;
    }
    .serach-more {

    }
    /*search部分 end*/

    /*site-nav部分 start*/
    /*site-nav部分 end*/

    /*site-nav部分 start*/
    /*site-nav部分 end*/

    /*site-nav部分 start*/
    /*site-nav部分 end*/

    /*site-nav部分 start*/
    /*site-nav部分 end*/

    /*site-nav部分 start*/
    /*site-nav部分 end*/

    /*site-nav部分 start*/
    /*site-nav部分 end*/

    /*site-nav部分 start*/
    /*site-nav部分 end*/

    /*site-nav部分 start*/
    /*site-nav部分 end*/

